{# src/OC/UserBundle/Resources/views/Security/login.html.twig #}


{% extends "base.html.twig" %}


{% block body %}
    <div class="jumbotron">
      <h1>Hello ! Bienvenu sur le site des crapules ! </h1>
      <p> Si tu accède à cette page c'est que tu es bien connecté ! Félicitation</p>
    </div>

{% endblock %}
